@import "vendor/vendor";

@import "variables";
@import "scaffolding";

.container {
  margin-top: 33px;
}

.sample-bg-image {
  height: 200px;
  width: 400px;
  background-image: url("../img/sample.jpeg");
}
